:root {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  --text-primary: #9e9c9c;
  --text-secondary: #AACFD0;
  --bg-primary: #FFFFFF;
  --bg-secondary: #dddddd;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.header { 
  position: sticky;
  display: flex-column;
  justify-content: center;
  align-items: center;
  padding: 0px 2%;
  background-color: var(--bg-primary);
}


.home {
  cursor: pointer;
  height: 5vh;
  padding-right: 40%;
  padding-bottom: 2%;
  transition: all 0.3s ease 0s;
  color:var(--text-secondary)
}

.home:hover {
  color: #0088a9;
}

.logo {
  cursor: pointer;
  max-width: 100%;
  max-height: 12vh;
}